html {
    overflow: scroll;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body {
    margin: 0 auto;
}
/* body {
    min-width: 320px;
    max-width: 800px;
} */

@media screen and (min-width: 320px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 16px;
    }
}

/* @media screen and (min-width: 414px) {
    html {
        font-size: 17px;
    }
} */

a:active,
a:hover {
    outline: 0
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}
ul,ol{margin:0;padding:0;}
li{list-style:none;}
i{font-style:normal;}
.clearFloat:after, .clearFloat:before{display:table;content:'';} .clearFloat:after{clear:both;}
#app {
    padding: 0px;
    margin: 0px auto;
    width:100%;
    min-width:1000px;
}
.el-table__body-wrapper{
    overflow: hidden !important;
}
/*外边距之上边距*/
.mt5{ margin-top:5px;}.mt10{ margin-top:10px;}.mt15{margin-top:15px;}.mt20{ margin-top:20px;}.mt25{margin-top:25px;}
.mt30{margin-top:30px;}.mt35{margin-top:35px;}.mt40{margin-top:40px;}.mt45{margin-top:45px;}.mt50{margin-top:50px;}
.mt55{margin-top:55px;}.mt60{margin-top:60px;}.mt65{margin-top:65px;}.mt70{margin-top:70px;}.mt75{margin-top:75px;}
/*外边距之下边距*/
.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}.mb40{margin-bottom:40px;}.mb45{margin-bottom:45px;}.mb50{margin-bottom:50px;}